.colors{
    color: hsl(227, 75%, 14%);
    color: hsl(226, 25%, 17%);
    color: hsl(225, 23%, 24%);
    color: hsl(226, 11%, 37%);
    color: hsl(0, 0%, 78%);
    color: hsl(217, 61%, 90%);
    color: hsl(0, 0%, 93%);
    color: hsl(200, 60%, 99%);
}